@{
    ViewData["Title"] = "Assignment";

}
@model List<Person>

<div class="text-center">
    <center>
        @foreach (var item in Model)
        {
            <div>
                
            @Html.DisplayFor(modelItem => item.FirstName)

            @Html.DisplayFor(modelItem => item.LastName) ,

            @Html.DisplayFor(modelItem => item.Gender) ,

            @Html.DisplayFor(modelItem => item.DateOfBirth) ,

            @Html.DisplayFor(modelItem => item.Phone) ,

            @Html.DisplayFor(modelItem => item.BirthPlace) ,

            @Html.DisplayFor(modelItem => item.Age) ,

            @Html.DisplayFor(modelItem => item.IsGradated) : Yes

            </div>
        }

    </center>
</div>